.statusBox {
    display: flex;
    justify-content: center;

    width: 900px;
    height: 40px;
    margin: 15px auto;
}

.heart {
    width: 30px;
    padding: 5px 3px;
}

.heartsBox {
    background-color: #f69ec4;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 10px;
}

.percentageBox {
    background-color: #63e3ff;
    border-radius: 4px;

    line-height: 30px;
    padding: 5px 15px;
    margin: 0 10px;
}

.cpmBox {
    background-color: #78e2aa;
    border-radius: 4px;

    line-height: 30px;
    padding: 5px 15px;
    margin: 0 10px;
}