.boardBox {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.7fr 1.2fr 1.1fr;
  grid-template-areas:
    "arrowLeft result arrowRight"
    "arrowLeft reload arrowRight"
    "arrowLeft tips arrowRight";
  height: 50%;
  width: 50%;
  background-color: #eee;

  position: absolute;
  top: 20%;
  left: 30%;

  border: 3px solid #2c3e50;
  border-radius: 10px;
}

.result {
  grid-area: result;
  margin: 30px 0;
}

.result>h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  margin: 0 0 5px 0;
}

.hideWindow,
.showWindow {
  font-size: 1.3em;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid black;
  z-index: 1;
}

.showWindowBox {
  display: none;
  background-color: #ffef7e;
  width: fit-content;
  padding: 10px;
  border: 2px solid #2c3e50;
  border-radius: 4px;
  position: absolute;
  right: 26%;
  top: 17%;
}

.hideWindow:hover,
.showWindow:hover {
  color: #24a4e3;
  border-bottom: 1px solid #24a4e3;
}

.reloadIcon {
  cursor: pointer;
  grid-area: reload;
  margin: 0 auto;
  width: 30%;
  opacity: 0.8;
}

.reloadIcon:hover {
  opacity: 1;
}

.arrowRightLink {
  grid-area: arrowRight;
}

.arrowLeftLink {
  grid-area: arrowLeft;
}

.arrowRightLink>img,
.arrowLeftLink>img {
  width: 80%;
  height: 95%;
  border-radius: inherit;
  opacity: 0.8;
  margin: 10px;
}

.arrowLeftLink>img {
  transform: scaleX(-1);
}

.arrowRightLink img:hover {
  opacity: 1;
}

.arrowLeftLink img:hover {
  opacity: 1;
}

.tips {
  height: fit-content;
  width: fit-content;
  grid-area: tips;
  background-color: #24a4e3;
  border-radius: 5px;

  margin: auto;
  padding: 6px;

  font-size: 2.2em;
  text-align: center;
}

.blockWindow {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 10;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}