.boardBox {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.7fr 1.2fr 1.1fr; 
  gap: 0px 0px;
  grid-template-areas:
    "arrowLeft result arrowRight"
    "arrowLeft reload arrowRight"
    "arrowLeft tips arrowRight";
  width: 1000px;
  height: 500px;
  background-color: #eee;
  
  position: absolute;
  top: 20%;
  z-index: 1;
  border: 3px solid #2c3e50;
  border-radius: 10px;
}

.boardBox > h2 {
  grid-area: result;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.reloadIcon {
  grid-area: reload;
  margin: 0 auto;
  width: 200px;
  opacity: 0.8;
}

.reloadIcon:hover {
  opacity: 1;
}

.arrowRightLink {
  grid-area: arrowRight;
}

.arrowRightLink > img {
  width: 110px;
  height: 95%;
  border-radius: inherit;
  opacity: 0.8;
  margin: 10px;
}

.arrowRightLink img:hover {
  opacity: 1;
}

.arrowLeftLink {
  grid-area: arrowLeft;
}

.arrowLeftLink > img {
  width: 110px;
  height: 95%;
  border-radius: inherit;
  opacity: 0.8;
  padding: 10px;
  transform: scaleX(-1);
}

.arrowLeftLink img:hover {
  opacity: 1;
}

.tips {
  grid-area: tips;
  background-color: #24a4e3;
  border-radius: 5px;

  margin: auto;
  padding: 6px;

  font-size: 35px;
  text-align: center;
}