.display {
    width: 900px;
    height: 400px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: white;
}

.key {
    display: inline-block;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    margin: 0px 3px;
}


.containerKey {
    font-size: 17px;
    position: absolute;

    top: 46%;
    right: 42%;
    transform: translate(0, -50%);
}

@keyframes falling {
    0% {
        margin-top: 0px;
        visibility: visible;
    }
    75% {
        margin-top: 350px;
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}


.key {
    animation-name: falling;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
}

.keyGreen {
    background-color: #78e2aa;
}
.keyPink {
    background-color: #f69ec4;;
}
.keyOrange {
    background-color: #ffc07e;;
}
.keyYellow {
    background-color: #ffef7e;
}
.keyBlue {
    background-color: #63e3ff;
}
.keyWaveBlue {
    background-color: #9ad3fa;
}