.homeContainer {
    grid-area: main;
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

.linkHome {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding-bottom : 1px;
}

.linkHome:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
}