.inputField {
    font-size: 30px;
    width: 900px;
    height: 300px;
    resize: none;
    border-radius: 4px;
}

.textareaContainer {
    text-align: center;
}

/* .placeholderr
{
    position: relative;
}

.placeholderr::after
{
    font-size: inherit;
    position: absolute;
    left: 133px;
    top: 3.7px;
    content: attr(dataPlaceholder);
    pointer-events: none;
    opacity: 0.6;
} */