.InputBox {
    display: flex;
    justify-content: center;

    width: 1000px;
    min-height: 80px;
    background-color: white;
    border-radius: 6px;
    margin: 3px auto 10px auto;
}

.displayText {
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 60px;
    margin: auto 0;
    user-select: none;
}

.inputField {
    width: inherit;
    min-height: inherit; 
    position: absolute;
    z-index: 1;
    opacity: 0; 
}

.unfinishedText {
    opacity: 0.5;
}

@keyframes cursor-blink {
    0% {
        color: black;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cursor::after {
    content: '|';
    font-size: 40px;
    animation: cursor-blink 2s infinite;
}