.chaptersContainer {
    width: 200px;
    float: left;
    height: 100%;
    background-color: crimson;
}

ul {
    padding: 15px 0 10px 10px;
    margin: 0;
    letter-spacing: 0.3px;
    font-weight: 500;
}

ul > ul {
    padding: 0 0 0 10px;
    display: none;
    list-style-type: none;
}

li {
    list-style-type: none;
    margin: 3px 0;
}

ul > ul > li:nth-child(3n) {
    padding-bottom: 5px
}

li > a {
    color: black;
    text-decoration: none;
}

li > a:hover {
    color: white;
}

li > a:focus {
    color: white;
}

.expend {
    display: list-item;
}

.hide {
    display: none;
}

.collapseLeft {
    float: right;
    width: 30px;
    cursor: pointer;
    padding: 3px;
    margin: 4px 4px 0 0;
}

.collapseRight {
    float: left;
    width: 30px;
    cursor: pointer;
    padding: 3px;
    margin: 5px 0 0 5px;
    transform: scaleX(-1);
}

.collapseLeft:hover,
.collapseRight:hover {
    background-color: white;
    border-radius: 5px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1;
    padding: 2px 4px;
}