.footer { 
    grid-area: footer;
    color: #2c3258;
    background-color: #f1c40f;
    height: 100px;
    text-align: end;
    padding: 10px;
}

.gmail {
    text-decoration: none;
    color: #2c3258;
}

a:hover {
    color: white;
}

