.row {
    width: 756px;
    height: 50px;
    margin: 0 auto;
}
.key {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    margin: 5px;
    background-color: aqua;
}
.space {
    width: 400px
}