.keyboardContainer {
    padding-top: 7px;
    text-align: center;
}
.row {
    width: 770px;
    height: 50px;
    margin: 3px auto;
}
.key {
    display: block;
    position: relative;
    float: left;
    line-height: 45px;
    border: 2px solid #2c3e50;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    margin: 0px 1px;
}

.keyGreen {
    background-color: #78e2aa;
}
.keyPink {
    background-color: #f69ec4;;
}
.keyOrange {
    background-color: #ffc07e;;
}
.keyYellow {
    background-color: #ffef7e;
}
.keyBlue {
    background-color: #63e3ff;
}
.keyWaveBlue {
    background-color: #9ad3fa;
}
.keyBackSpace {
    width: 72px;
}
.keyTab {
    width: 72px;
}
.keyCaps {
    width: 87px;
}
.keyEnter {
    width: 85px;
}
.keyShift {
    width: 114px;
}
.keySpace {
    width: 400px;
    margin-left: 170px;
}

.nextKey {
    border: 3px solid rgb(0, 102, 255);
}

.wrongKey {
    border: 3px solid crimson;
}

#q, #a, #z {
    background-color: #78e2aa;
}