.row {
    width: 820px;
    height: 50px;
    margin: 0 auto;
}
.key {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    margin: 5px;
    background-color: aqua;
    text-align: center;
}
.keyGreen {
    background-color: #8cff66;
}
.keyOrange {
    background-color: orange;
}
.keyYellow {
    background-color: yellow;
}
.keyBackSpace {
    width: 72px;
}
.keyTab {
    width: 72px;
    background-color: #8cff66;
    opacity: 0.6;
}
.keyCaps {
    width: 87px;
    background-color: #8cff66;
    opacity: 0.6;
}
.keyEnter {
    width: 85px;
}
.keyShift {
    width: 114px;
    background-color: #8cff66;
    opacity: 0.6;
}
.keySpace {
    width: 400px;
}
