.container404 {
    font-size: 35px;
    color: white;
    margin: 0 auto;
}

.text404 {
    margin: 0 auto;
}

.number404 {
    font-size: 220px;
    text-align: center;
    margin: 0;
}

.linkHome {
    color: white;
    text-decoration: underline;
    margin: 0px;
}

.linkHome:hover {
    color: yellow;
}