.displayText {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 60px;
    margin: auto 0;
    user-select: none;
}

.unfinishedText {
    opacity: 0.5;
}

@keyframes cursor-blink {
    0% {
        color: black;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cursor::after {
    content: '|';
    font-size: inherit;
    animation: cursor-blink 2s infinite;
}