.container { 
  font-family: "Gill Sans", sans-serif;
    display: grid;
    grid-template-columns: 0.3fr 2.3fr 0.2fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "chapters main main"
      "footer footer footer";
    width: 1400px;
    height: 881px;
    margin: auto;
    background-color: #2c3e50;
  }
