.loginContainer {
    display: table;
    width: fit-content;
    float: right;
    margin: 5px 10px;
}

.loginText {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.loginLink {
    cursor: pointer;
    border-bottom: 2px solid #eee;
}

.loginLink:hover {
    color: #9ad3fa;
    border-bottom: 2px solid #9ad3fa;
}